#!/bin/bash
#SBATCH --partition {{ partition }}
{% if gpus > 0 -%}
#SBATCH --gpus-per-node {{ gpus }}
{% endif -%}
#SBATCH --nodes 1
#SBATCH --ntasks-per-node {{ number_of_cpus }}
#SBATCH --mem {{ memory }}
#SBATCH --time 1-0:00:00
#SBATCH --job-name jupyter-{{ project_name }}
#SBATCH --output {{ log_dir }}/jupyter-%j.log

node=$(hostname -s)
user=$(whoami)

# Add project directory to the python path
export PYTHONPATH={{ project_dir }}:$PYTHONPATH
export BASE_PATH="/mnt/personal/${user}/{{ project_name }}"

# Paste the node name and job id to the temporary files
echo ${node} > {{ node_file }}
echo "{{ log_dir }}/jupyter-${SLURM_JOB_ID}.log" > {{ log_file }}

# Run Jupyter
singularity run {% if gpus > 0 %}--nv {% endif %}--bind /mnt:/mnt {{ singularity_file }} bash -c "
if command -v jupyter &> /dev/null; then
    jupyter notebook --no-browser --port={{ port }} --ip=${node} --notebook-dir={{ project_dir }}
elif command -v jupyter-notebook &> /dev/null; then
    jupyter-notebook --no-browser --port={{ port }} --ip=${node} --notebook-dir={{ project_dir }}
else
    echo 'Error: Neither jupyter nor jupyter-notebook found inside the container.'
    exit 1
fi
"
